@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  height: 100%;
  background-color: beige !important;
}

.App {
  margin-top: 25px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(./apple.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main {
  margin-top: 40%;
}

#break-label {
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px black;
}

#session-label {
  font-size: 1.5em;
  color: white;
  text-shadow: 2px 2px black;
}

#time-left {
  font-size: 2.5em;
  margin-bottom: 0;
}

button {
  margin-right: 5px;
}
